/* =========================================================
   QR CODE
   ========================================================= */

.qr-section {
    width: 105px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#qrcode {
    width: 85px;
    height: 85px;
    margin: auto;
    background: white;
}

#qrcode img,
#qrcode canvas {
    width: 85px !important;
    height: 85px !important;
}

.qr-section small {
    display: block;
    margin-top: 4px;
    font-size: 9px;
    font-weight: bold;
    color: #063b78;
}